:root {
    --bg: #FFFFFF;
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text--gray: #888888;
}

.body {
    background-color: var(--bg);
    position: relative;
    width: 360px;
}

/*buttons*/
.btn_primary {
    background-color: var(--primary); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn_primary--arrow {
    background-color: var(--primary); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.arrow {
   
}

.btn--outlined {
    background-color: var(--bg); 
    border: 2px dashed var(--primary);
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn--light {
    background-color: var(--bg); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
/*###################################################################################################*/

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    position: absolute;
    width: 320px;
    height: 53px;
    left: 20px;
    top: 24px;
}

.img_logo {
    width: 127px;
    height: 44px;
}

.header_img {
    position: absolute;
    width: 380px;
    height: 269px;
    top: 100px;
}

.text_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 2px;
    position: absolute;
    width: 289px;
    height: 73px;
    left: 209px;
    top: 179px;
}