/*root colors*/
:root {
    --bg: #FFFFFF;
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text--gray: #888888;
}

.body {
    background-color: var(--bg);
    position: relative;
    min-width: 375px;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.text--orange {
    color: var(--primary);
}

/*BUTTONS*/
.btn_primary {
    background-color: var(--primary); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn_primary--arrow {
    background-color: var(--primary); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn--outlined {
    background-color: var(--bg); 
    border: 2px dashed var(--primary);
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn--light {
    background-color: var(--bg); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

/*NAVBAR*/
.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    position: absolute;
    width: 320px;
    height: 53px;
    top: 24px;
}

.logo {
    width: 127px;
    height: 44px;
}

/*HEADER*/
.page-header--title{
    background-color: var(--text);
    color: var(--bg);
}

/*DUVERA*/
.duvera{
    color: var(--bg);
    background-color: var(--text);
}

/*SLUŽBY*/
.pravej_dolni_roh {
    border-bottom-right-radius: 60px;
}

.levej_dolni_roh {
    border-bottom-left-radius: 60px;
}

/*REFERENCE*/
.reference {

}

/*FOOTER*/
.footer__orange {
    width: 375px;
    height: 283px;
    background: var(--primary);
    left: 0px;
}

.footer__wrapper {
   
}

.footer__wrapper--text {
    
}

.footer__orange--heading {
    color: var(--bg);
}

.footer__orange--text {
    color: var(--bg);
}

.btn--light--footer {
    background-color: var(--bg); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}