/*root colors*/
:root {
    --bg: #FFFFFF;
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text--gray: #888888;
}

.body {
    background-color: var(--bg);
    position: relative;
    min-width: 375px;
}

/*BUTTONS*/
.btn_primary {
    background-color: var(--primary); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn_primary--arrow {
    background-color: var(--primary); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.arrow {
   
}

.btn--outlined {
    background-color: var(--bg); 
    border: 2px dashed var(--primary);
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn--light {
    background-color: var(--bg); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    gap: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

/*NAVBAR*/
.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    position: absolute;
    width: 320px;
    height: 53px;
    top: 24px;
}

.img_logo {
    width: 127px;
    height: 44px;
}

/*FOOTER*/
.footer__orange {
    position: absolute;
    width: 375px;
    height: 283px;
    background: var(--primary);
    left: 0px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 180px;
    top: 35px;
    left: 36px;
}

.footer__wrapper--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 288px;
    height: 92px;
}

.footer__orange--heading {
    width: 288px;
    height: 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: var(--bg);
}

.footer__orange--text {
    width: 288px;
    height: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--bg);
}

.btn--light--footer {
    background-color: var(--bg); 
    border: none;
    width: 170px;
    height: 41px;
    color: var(--primary);
    padding: 12px, 40px, 12px, 40px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}